
.navbar{
    background-color: black;
    
}
.navbar a{
   color: white;    
}
@media screen and (max-width: 600px){
    .navbar a{
        float: none;
        width:100%
    }
}


table{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

td{
    border:1px solid black;
}
.father{
    width:500px;
    height:300px;
    background-color: turquoise;
}
.child{
    position: relative;
    top: 80px;
    left: 20px;
    background-color: green;
    width: 140px;
    height: 100px;
    z-index: 1;
}
.child2{
   position: absolute;
   text-align: center;
    background-color: red;
    height: 120px;;
    width:200px;
    left:100px;
    
    
}

